<div class="container">
  <h1>Users</h1>

  <div class="bg-light p-3 rounded">
    <h2>Current User: <%= @current_user.present? ? @current_user.name : "no user exist in DB" %>
    </h2>
    <%= link_to @current_user.present? ? 'Create Post' : 'To create a post You should create a user first', @current_user.present? ? "/users/#{@current_user.id}/posts/new" : "#", class: 'btn btn-primary' %>
  </div>

  <ul class="list-group mt-5">
    <% @users.each do |user| %>
      <li class="list-group-item my-3 d-flex flex-wrap border-top">
        <div class="border border-blue border-square rounded-start" style="width: 100px; height: 100px;">
          <img src="<%= user.photo %>" alt="<%= user.name %>'s photo" class="w-100 h-100">
        </div>
        <a href="/users/<%= user.id %>" class="d-flex align-items-center flex-grow-1 ms-3">
          <h2>
            <%= user.name %>
          </h2>
        </a>
        <button type="button" class="btn btn-primary">
          Number of posts:
          <span class="badge bg-secondary">
            <%= user.posts_counter ? user.posts_counter : 0 %>
          </span>
        </button>
      </li>
      <% end %>
  </ul>
</div>